<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Atriarch Nuget" value="https://nexus.atriarch.systems/repository/atriarch-nuget/" />
  </packageSources>
  <packageSourceCredentials>
    <Atriarch_x0020_Nuget>
        <add key="Username" value="Demonslyr" />
        <add key="ClearTextPassword" value="Gi!gam#sH123" />
    </Atriarch_x0020_Nuget>
  </packageSourceCredentials>
</configuration>